/* Style pour le bouton "Go to Bottom" */
.go-to-bottom {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #ffcc00; /* Couleur jaune pour attirer l'attention */
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.go-to-bottom:hover {
  background-color: #e6b800;
  transform: scale(1.1); /* Légère augmentation au survol */
}

/* Style pour la section en bas */
#bottom {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
}

.download-app {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1a73e8; /* Couleur bleue */
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.download-app:hover {
  background-color: #155cb0;
  transform: scale(1.1); /* Légère augmentation au survol */
}
